.wrapper {
  margin: 0 auto;
  width: 280px;
  height: 280px;
  min-height: 108px;
  display: flex;
  place-items: center;
  justify-content: center;
}
.loading {
  border: 6px solid #eeeeee;
  border-top: 6px solid #6d4aff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
