.button {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #00000033;
  color: #3b3b3b;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
}

.button:disabled {
  color: #b1b1b1;
  cursor: default;
}

.button:disabled svg path {
  stroke: #b1b1b1;
}

.button label {
  white-space: nowrap;
  text-align: center;
  flex: 100%;
  cursor: inherit;
  text-decoration: none;
  height: 20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.button svg {
  flex: 20px;
}
.button svg + label {
  margin-left: -20px;
}
.button svg path {
  stroke: #3b3b3b;
}

.button:hover:not(:disabled) {
  border-color: #00000066;
  color: #6d4aff;
}

.button:hover:not(:disabled) svg path {
  stroke: #6d4aff;
}

.button:active:not(:disabled) {
  border-color: #6243e6;
  color: #6243e6;
}

.button:active:not(:disabled) svg path {
  stroke: #6243e6;
}

/* outlined */
.outlined {
  border: 1px solid #00000033;
}

/* iconButton */
.iconButton {
  font-size: 18px;
  border: none;
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.iconButton:disabled {
  color: #b1b1b1;
  cursor: default;
}

.iconButton:disabled svg path {
  stroke: #b1b1b1;
}

.iconButton:hover:not(:disabled) {
  background-color: #f5f5f5;
}

.iconButton:active:not(:disabled) {
  background-color: #ebe6ff;
}

.iconButton svg path {
  stroke: #3b3b3b;
}

/* filled */
.filled {
  border: none;
  background-color: #3b3b3b;
  color: #fffffff2;
}

.filled svg path {
  stroke: #fffffff2;
}

.filled:hover:not(:disabled) {
  background-color: #626262;
  color: #fffffff2;
}

.filled:hover:not(:disabled) svg path {
  stroke: #fffffff2;
}

.filled:active:not(:disabled) {
  background-color: #757575;
  color: #fffffff2;
}

.filled:active:not(:disabled) svg path {
  border-color: #6243e6;
  stroke: #fffffff2;
}

/* flattened */
.flattened {
  height: 28px;
  width: auto;
  padding: 4px 8px;
}

.flattened svg {
  height: 16px;
  width: 16px;
}

.flattened label {
  font-size: 11px;
}
.flattened svg + label {
  margin-left: 4px;
}

/* iconButton Filled */
.iconButton.filled {
  border: none;
  width: 28px;
  padding: 0.125rem;
  height: 28px;
  border-radius: 8px;
}

.iconButton.filled svg {
  height: 16px;
  width: 16px;
}

@media (prefers-color-scheme: dark) {
  .button {
    color: #fafafa;
    border: 1px solid #ffffffcc;
  }
  .button svg path {
    stroke: #c4c4c4;
  }
  .button:hover:not(:disabled) {
    border-color: #ffffff99;
  }
  .button:active:not(:disabled) {
    border-color: #6243e6;
  }
  .filled {
    border: none;
    background-color: #c4c4c4;
    color: #000000ee;
  }
  .filled svg path {
    stroke: #000000ee;
  }
  .filled:hover:not(:disabled) {
    background-color: #9d9d9d;
    color: #000000ff;
  }
  .filled:hover:not(:disabled) svg path {
    stroke: #000000ff;
  }
  .filled:active:not(:disabled) {
    background-color: #8a8a8a;
    color: #000000ff;
  }
  .filled:active:not(:disabled) svg path {
    stroke: #000000ff;
  }
  .iconButton:hover:not(:disabled) {
    background-color: #0a0a0a;
  }
  .iconButton:active:not(:disabled) {
    background-color: #101011;
  }
  .iconButton svg path {
    stroke: #c4c4c4;
  }
  .iconButton.filled {
    background-color: #3b3b3b;
  }
  .iconButton.filled svg path {
    stroke: #ffffff;
  }
  .iconButton.filled:hover:not(:disabled) {
    background-color: #626262;
  }
  .iconButton.filled:hover:not(:disabled) svg path {
    stroke: #ffffff;
  }
  .iconButton.filled:active:not(:disabled) {
    background-color: #767676;
  }
  .iconButton.filled:active:not(:disabled) svg path {
    stroke: #ffffff;
  }
}
